{% set mandatoryDependencies = [
    'php5'
] %}

{% set optionalDependencies = {
    'development': [
        'dev-dependency-test'
    ],
    'production': [
        'prod-dependency-test',
        'b'
    ]
} %}

{% set dependencies = mandatoryDependencies | merge(attribute(optionalDependencies, environment)) %}

{% include 'commands.twig' with { 'dependencies': dependencies } %}
